@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

iframe {
  border: 0;
}

/* ====> rechart style */
.miniChart .recharts-surface {
  border-radius: 40px !important;
}

.root {
  --brand: theme("colors.dark-theme.brand.primary");
  --brand-secondary: theme("colors.light-theme.brand.secondary");
  --hover: theme("colors.dark-theme.hover");
  --bkg-1: theme("colors.dark-theme.bkg-1");
  --bkg-2: theme("colors.dark-theme.bkg-2");
  --bkg-3: theme("colors.dark-theme.bkg-3");
  --bkg-4: theme("colors.dark-theme.bkg-4");
  --fkg-1: theme("colors.dark-theme.fkg-1");
  --fkg-2: theme("colors.dark-theme.fkg-2");
  --fkg-3: theme("colors.dark-theme.fkg-3");
  --fkg-4: theme("colors.dark-theme.fkg-4");
  --gradient-1: theme("colors.dark-theme.gradient-1");
  --gradient-2: theme("colors.dark-theme.gradient-2");
}
/* dark theme */
[data-theme="dark-theme"] {
  --brand: theme("colors.dark-theme.brand.primary");
  --brand-secondary: theme("colors.light-theme.brand.secondary");
  --hover: theme("colors.dark-theme.hover");
  --bkg-1: theme("colors.dark-theme.bkg-1");
  --bkg-2: theme("colors.dark-theme.bkg-2");
  --bkg-3: theme("colors.dark-theme.bkg-3");
  --bkg-4: theme("colors.dark-theme.bkg-4");
  --fkg-1: theme("colors.dark-theme.fkg-1");
  --fkg-2: theme("colors.dark-theme.fkg-2");
  --fkg-3: theme("colors.dark-theme.fkg-3");
  --fkg-4: theme("colors.dark-theme.fkg-4");
  --gradient-1: theme("colors.dark-theme.gradient-1");
  --gradient-2: theme("colors.dark-theme.gradient-2");
}
/* light theme */
[data-theme="light-theme"] {
  --brand: theme("colors.light-theme.brand.primary");
  --brand-secondary: theme("colors.light-theme.brand.secondary");
  --bkg-1: theme("colors.light-theme.bkg-1");
  --bkg-2: theme("colors.light-theme.bkg-2");
  --bkg-3: theme("colors.light-theme.bkg-3");
  --bkg-4: theme("colors.light-theme.bkg-4");
  --fkg-1: theme("colors.light-theme.fkg-1");
  --fkg-2: theme("colors.dark-theme.fkg-2");
  --fkg-3: theme("colors.light-theme.fkg-3");
  --fkg-4: theme("colors.dark-theme.fkg-4");
  --gradient-1: theme("colors.light-theme.gradient-1");
  --gradient-2: theme("colors.light-theme.gradient-2");
}

/* =====> faq section global style */
.faq-body {
  background-color: var(--bkg-2) !important;
}
.row-title {
  background-color: #121616 !important;
  padding: 20px 0px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.row-title[aria-expanded="true"] {
  background-color: var(--gradient-1) !important;
}
.row-title-text {
  padding: 0px 16px !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 25px !important;
  font-family: "Inter", sans-serif;
  color: var(--bkg-1) !important;
}
.row-content[aria-expanded="true"] {
  background-color: #121616 !important;
}
.icon-wrapper {
  position: unset !important;
  margin-right: 25px !important;
  max-width: 32px !important;
  max-height: 30px !important;
}
.row-content-text {
  padding: 16px 16px !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  line-height: 24px !important;
  font-family: "Inter", sans-serif;
  color: var(--bkg-1) !important;
}

.faq-row {
  border-bottom: none !important;
  gap: 4px !important;
}
.arrow-image svg {
  fill: white !important;
}
