@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

iframe {
  border: 0;
}

/* ====> rechart style */
.miniChart .recharts-surface {
  border-radius: 40px !important;
}

.root {
  --brand: theme("colors.dark-theme.brand.primary");
  --brand-secondary: theme("colors.light-theme.brand.secondary");
  --hover: theme("colors.dark-theme.hover");
  --bkg-1: theme("colors.dark-theme.bkg-1");
  --bkg-2: theme("colors.dark-theme.bkg-2");
  --bkg-3: theme("colors.dark-theme.bkg-3");
  --bkg-4: theme("colors.dark-theme.bkg-4");
  --fkg-1: theme("colors.dark-theme.fkg-1");
  --fkg-2: theme("colors.dark-theme.fkg-2");
  --fkg-3: theme("colors.dark-theme.fkg-3");
  --fkg-4: theme("colors.dark-theme.fkg-4");
  --gradient-1: theme("colors.dark-theme.gradient-1");
  --gradient-2: theme("colors.dark-theme.gradient-2");
}
/* dark theme */
[data-theme="dark-theme"] {
  --brand: theme("colors.dark-theme.brand.primary");
  --brand-secondary: theme("colors.light-theme.brand.secondary");
  --hover: theme("colors.dark-theme.hover");
  --bkg-1: theme("colors.dark-theme.bkg-1");
  --bkg-2: theme("colors.dark-theme.bkg-2");
  --bkg-3: theme("colors.dark-theme.bkg-3");
  --bkg-4: theme("colors.dark-theme.bkg-4");
  --fkg-1: theme("colors.dark-theme.fkg-1");
  --fkg-2: theme("colors.dark-theme.fkg-2");
  --fkg-3: theme("colors.dark-theme.fkg-3");
  --fkg-4: theme("colors.dark-theme.fkg-4");
  --gradient-1: theme("colors.dark-theme.gradient-1");
  --gradient-2: theme("colors.dark-theme.gradient-2");
}
/* light theme */
[data-theme="light-theme"] {
  --brand: theme("colors.light-theme.brand.primary");
  --brand-secondary: theme("colors.light-theme.brand.secondary");
  --bkg-1: theme("colors.light-theme.bkg-1");
  --bkg-2: theme("colors.light-theme.bkg-2");
  --bkg-3: theme("colors.light-theme.bkg-3");
  --bkg-4: theme("colors.light-theme.bkg-4");
  --fkg-1: theme("colors.light-theme.fkg-1");
  --fkg-2: theme("colors.dark-theme.fkg-2");
  --fkg-3: theme("colors.light-theme.fkg-3");
  --fkg-4: theme("colors.dark-theme.fkg-4");
  --gradient-1: theme("colors.light-theme.gradient-1");
  --gradient-2: theme("colors.light-theme.gradient-2");
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* =====> pagination global style */
.MuiPagination-ul {
  gap: 8px !important;
}
.MuiPagination-ul > :first-child svg {
  font-size: 44px !important;
  color: white !important;
}
.MuiPagination-ul > :last-child svg {
  font-size: 44px !important;
  color: white !important;
}

.MuiPaginationItem-root {
  font-size: 24px !important;
  font-weight: 400 !important;
  color: #676767 !important;
}

.MuiButtonBase-root[aria-current="true"] {
  color: white !important;
  width: 45px !important;
  height: 42px !important;
  background: linear-gradient(
    90deg,
    rgba(255, 129, 10, 1) 0%,
    rgba(255, 171, 92, 1) 100%
  ) !important;
}
